html{
  background-image: url('./img/foot.jpg');
  
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: white;
  width: 80%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

button{
  background-color: rgb(147, 147, 214);
  padding: 12px 20px;
}
button:hover{
  background-color: rgb(181, 181, 211);
  cursor: pointer;
}
input{
  height: 30px;
  width: 200px;
}
h3{
  color:white;
  background-color: crimson;
  text-align: center;
  padding: 5px 10px;
}
h3:hover{
  background-color: rgb(216, 63, 94);
  cursor: pointer;
}
a{
  text-decoration: none;
}